body{
    background-color: #7abcff;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-menu{
    position: fixed;
    margin: 0;
    padding: 0;
}
.header-menu__lists{
    display: flex;
    align-items: center;
}
.header-menu__list{
    margin: 0 30px 0 0;
    text-decoration: none;
    color: #6900C6;
    font-weight: bold;
    text-transform: uppercase;
}
.border-menu{
    color: #000;
    z-index: 3;
}
.title{
    text-transform: uppercase;
}
.main-info{
    display: flex;
}
.main-info__avatar{
    width: 200px;
    border-radius: 20px;
}

.main-info__size{
    width: 700px;
}
.align__img{
    text-align: center;
}
ul{
    list-style: none;
}