
body{
    background-color: rgb(228, 228, 228);
}
.title{
    text-transform: uppercase;
}
.main-info{
    display: flex;
}
.main-info__avatar{
    width: 200px;
}

.main-info__size{
    width: 700px;
}
.align__img{
    text-align: center;
}
ul{
    list-style: none;
}